# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env
*.env
*.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# generated media
temp_*/
generated_images/
generated_videos/
*.zip

# logs
*.log

.claude/*

